body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b6e5b6; /* Pastel green background */
    text-align: center;
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffd1dc; /* Pink background for login container */
}

#login-box {
    background: white; /* White background for the form inside the container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: grey; /* Grey color for buttons */
    color: white;
    cursor: pointer;
}

button:hover {
    background: #666666;
}

#strands {
    background-color: #ffffff; /* White background */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.strand-box, .content-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
    margin: 10px auto;
}

.nav-button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #555;
}
